<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>YouTube Data API Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model='params.channel.q' placeholder="検索キーワードを入力">
      <button v-on:click="searchChannels">検索</button>
      <table class="table" v-show="results">
        <tr>
          <th>#</th>
          <th>画像</th>
          <th>YouTuber名</th>
          <th>登録者数</th>
          <th>再生回数</th>
          <th>チャンネル概要</th>
        </tr>
        <tr v-for="(channel, index) in results">
          <td>{{ index + 1 }}</td>
          <td>
            <a v-bind:href="'https://www.youtube.com/channel/' + channel.id">
              <img width=240 height=240 v-bind:src="channel.snippet.thumbnails.medium.url">
            </a>
          </td>
          <td>{{ channel.snippet.title }}</td>
          <td>{{ channel.statistics.subscriberCount }}</td>
          <td>{{ channel.statistics.viewCount}}</td>
          <td>
            <span class="desc">
              {{ channel.snippet.description }}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
<!-- Webアプリ用JS読み込み -->
<script src="js/nakashima.js"></script>
